<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<defaultDocument>
			<files>
				<add value="index.aspx"/>
			</files>
		</defaultDocument>
	</system.webServer>
	<connectionStrings>
		<!--<add name="WebSiteConnectionString" connectionString="Data Source=77.238.15.40\LEONARDO,1433;Initial Catalog=PianetaSicurezza;Persist Security Info=True; MultipleActiveResultSets=True; User ID=sa; Password=#0267!8660#404@StLe" providerName="System.Data.SqlClient"/>-->
		<add name="WebSiteConnectionString" connectionString="Data Source=192.168.1.21\LEONARDO,1433;Initial Catalog=StudioLeonardoAssistenza;Persist Security Info=True; MultipleActiveResultSets=True; User ID=sa; Password=777Vstr0M111" providerName="System.Data.SqlClient" />
		<add name="Excel07ConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
	</connectionStrings>
	<appSettings>
		<add key="CultureCode" value="it-IT"/>
		<add key="Azienda" value="Pianeta Sicurezza. srl"/>
		<add key="emailAzienda" value="amministrazione@pianetasicurezza.it"/>
		<add key="emailIntranetAnagrafica" value="amministrazione@pianetasicurezza.it"/>
		<add key="emailCustomerCare" value="amministrazione@pianetasicurezza.it"/>
		<add key="MAIN_urlSito" value="http://ps.studioleonardo.com"/>
		<add key="SmtpServer" value="77.238.15.41"/>
		<add key="SmtpAccountName" value="Amministrazione"/>
		<add key="SmtpAccountEmail" value="amministrazione@pianetasicurezza.it"/>
		<!--<add key="SmtpAccountEmail" value="genny.collari@serint.eu"/>-->
		<add key="SmtpAccountPassword" value=""/>
		<!--<add key="SmtpAccountPassword" value=""/>-->
		<add key="ResponsabileCommercialeFatture" value="Pianeta Sicurezza srl"/>
		<add key="EmailDestinatarioReportMensileInsoluti" value="amministrazione@pianetasicurezza.it"/>
		<!-- Immagini lingue x amministrazione -->
		<add key="LanguageDefault" value="1"/>
		<add key="LanguagesFlagsUrl" value="~/images/languages"/>
	</appSettings>
	<!--
    Per una descrizione delle modifiche al file web.config, vedere il sito Web all'indirizzo http://go.microsoft.com/fwlink/?LinkId=235367.

    Gli attributi seguenti possono essere impostati sul tag <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
	<system.web>
		<httpRuntime requestValidationMode="2.0"/>
		<compilation debug="true" targetFramework="4.8"/>
		<sessionState mode="InProc" cookieless="false" timeout="30"/>
		<globalization culture="IT-it" uiCulture="IT-it"/>
		<pages maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="4.0">
			<controls>
				<add assembly="App_Code" namespace="DynamicError.Controls" tagPrefix="SL"/>
			</controls>
			<namespaces>
				<clear/>
				<add namespace="System"/>
				<add namespace="System.Collections"/>
				<add namespace="System.Collections.Specialized"/>
				<add namespace="System.Configuration"/>
				<add namespace="System.Text"/>
				<add namespace="System.Text.RegularExpressions"/>
				<add namespace="System.Web"/>
				<add namespace="System.Web.Caching"/>
				<add namespace="System.Web.SessionState"/>
				<add namespace="System.Web.Security"/>
				<add namespace="System.Web.Profile"/>
				<add namespace="System.Web.UI"/>
				<add namespace="System.Web.UI.WebControls"/>
				<add namespace="System.Web.UI.WebControls.WebParts"/>
				<add namespace="System.Web.UI.HtmlControls"/>
				<add namespace="System.Data.SqlClient"/>
			</namespaces>
		</pages>
		<httpHandlers>
			<!--<add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>-->
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
		</httpHandlers>
		<customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
			<error statusCode="403" redirect="NoAccess.htm"/>
			<error statusCode="404" redirect="FileNotFound.htm"/>
		</customErrors>
	</system.web>
</configuration>